@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: url('/grid.png') repeat fixed,linear-gradient(#0d0d12, #181228) no-repeat fixed;
}

.light-cube {
  background: url('/Mask group (1).png') no-repeat top left;
}

.blury-corners {
  background: url('/glow.png') no-repeat top left, url('/Vector 6.png') no-repeat top right, #0d0d12;
}

.testimonial-container {
  background: url('/Group 1.png') no-repeat top left, url('/Group 2.png') no-repeat top right, #0d0d12;
}

.benefit-container {
  background: url('/Group 4.png') no-repeat top left, #0d0d12;
}

.process-container {
  background: url('/Group 6 (1).png') no-repeat top left, url('/Group 5 (1).png') no-repeat top right, #0d0d12;
}

.benefit-one {
  background: url('/benefit-bg-1.png') no-repeat bottom, #0d0d12;
  background-size: stretch;
}

.benefit-branding {
  background: url('/Branding-a-a-cover.png') no-repeat bottom, #0d0d12;
  background-size: stretch;
}

.benefit-three {
  background: url('/star-bg get from 0 to 1.png') no-repeat bottom, #0d0d12;
  background-size: stretch;
}

.benefit-four {
  background: url('/bg stay on developers mind.png') no-repeat bottom, #0d0d12;
  background-size: stretch;
}

.pricing-bg {
  background: url('/explosive growth gb.png') no-repeat bottom, #0d0d12;
}

.pricing-table {
  background: url('/Vector 81.png') no-repeat bottom, rgb(21, 21, 22);
}

.separator {
  opacity: .2;
}

.customButton:hover {
  cursor: pointer;
}

.cta-bg {
  background: url('/img.png') no-repeat right,url('/dots (1).png') no-repeat left bottom,url('/blur.png') no-repeat center, #0d0d12;
}

.footer-bg {
  background: url('/Mask group (4).png') no-repeat top right;
}

.scrollable-container {
  /* width: 100%; Adjust the width as needed */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-x: hidden; /* Hide the horizontal scrollbar */
  white-space: nowrap; /* Prevent text from wrapping */
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
